@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{ background: #252B42; font-family: "Montserrat", sans-serif;}
.container{ max-width: 1046px;}
.wrap-1{ background: url(../img/bg1.webp) no-repeat center top/cover;}


/* .btn-primary{ background: #23A6F0; } */
.text-primary, .btn-link{ color: #23A6F0 !important; }

.banner{ padding: 120px 0 80px; max-width: 700px; }
.banner p.h1{ font-size: 58px;}

.card{  padding: 35px 40px; transform: translateY(61px);}
.icon-box{ width: 70px; line-height: 78px; background: #23A6F0; text-align: center; color: #fff;}
.sep{ width: 50px; height: 2px;}

.watch{ padding: 160px 0;}

.wrap-2{ color: #fff;}
.watch .sep{ width: 94px; height: 7px;}

.advice{ padding: 140px 0;}

.wrap-3{ background: #fff; line-height: 70px;}